body {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(13, 12, 12);
    font-family: 'Courier New', Courier, monospace;
  }

  .title {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .content-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 10px;
  }

  .settings-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }

  .github-button {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
  }