.CopyBtnForJira {
    background-color: rgb(0, 82, 204);
    color: white;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    border: none;
    border-radius: 3px; 
    font-size: inherit;
    font-style: normal;
    font-family: inherit;   
    font-weight: 600;
    display: inline-block;
    margin-left:10px;
    cursor: pointer;
  }

  .CopyBtnForJira:hover
  {
    background: rgb(7, 71, 166);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  th{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px 10px;
  }

  body{
    background-color: rgb(13, 12, 12);
  }